---
layout: base_default
---
{% capture fullname %}{{ page.profile.firstname }} {{ page.profile.lastname }}{% endcapture %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ fullname }}</h1>
    <h4>{{ page.profile.affiliations | join: ', ' }}</h4>
    <div>{% if page.profile.avatar %}<img src="{{ page.profile.avatar }}" alt="{{ page.profile.fullname }}"/>{% endif %}</div>
    <iframe src="http://githubbadge.appspot.com/{{page.profile.github.username}}" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
    <ul>
      <li>
        <span>web</span>
        <a target="_blank" href="{{ page.profile.url }}">{{ fullname }}</a>
      </li>

      <li>
        <span>email</span>
        {% include email.html address=site.email %}
      </li>

      <li>
        <span>github</span>
        {% include github.html username=page.profile.github.username %}
      </li>
    </ul>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
