---
layout: base_default
---
{% capture fullname %}{{ page.profile.firstname }} {{ page.profile.lastname }}{% endcapture %}
<div class="post">

  <header class="post-header">
    <div style="float: right"><iframe src="//githubbadge.appspot.com/{{page.profile.github.username}}" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe></div>
    <h1 class="post-title">{{ fullname }}</h1>
    <h4>{{ page.profile.affiliations | join: ', ' }}</h4>
    <div>{% if page.profile.avatar %}<img src="{{ page.profile.avatar }}" alt="{{ fullname }}"/>{% endif %}</div>

    <ul>
      <li>
        <span>web</span>
        <a target="_blank" href="{{ page.profile.url }}">{{ fullname }}</a>
      </li>

      <li>
        <span>email</span>
        {% include email.html address=site.email %}
      </li>

      <li>
        <span>github</span>
        {% include github.html username=page.profile.github.username %}
      </li>
    </ul>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  {% if page.profile.publications %}
  <h2>Publications</h2>
  <ul>
  {% for pub in page.profile.publications %}
    <li>
      {{ pub.authors | join: ', ' }} ({{ pub.date }}). {{ pub.title }}. <i>{{ pub.journal}}, {{ pub.volume }}, {{ pub.page }}</i>.
      <a href="http://dx.doi.org/{{ pub.doi }}">{{ pub.doi }}</a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
</div>
